@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    font-family: 'Jost', sans-serif;
}

:root {
    --main-color:#ff805d;
    --main-bg-color:#fff6ee;
    --light-color:#666666;
    --dark-color:#333333;
    --gray-color:#f5f5f5;
    --light-extra:#888888;
}

img {
    width:100%;
}

ul {
    list-style: none;
    padding:0 !important;
}


a {
    text-decoration:none !important;
    transition: 0.3s;
}

p {
    color:var(--light-color);
    margin-bottom:0 !important;
}
h2 {
    font-size:36px !important;
}
h3 {
    font-size:32px;
}
.center {
    display:flex;
    align-items:center;
    justify-content: center;
}
.search-icon {
    transform:rotate(90deg) !important;
}
.button {
    cursor:pointer;
    transition:0.3s;
}
.button-hover:hover {
    background-color:var(--main-color);
    color:#fff;
}
.filledBtn , .outlinedBtn:hover {
    background-color:var(--main-color);
    color:#fff;
    border:1px solid transparent;
    padding:9px 30px;
    transition: 0.3s;
}
.filledBtn:hover , .outlinedBtn {
    color:var(--main-color);
    background-color:#fff;
    border-color:var(--main-color);
    padding:9px 30px;
    transition: 0.3s;
}
.breadcrump a , .breadcrump span {
    font-size:18px;
    color:var(--light-color) !important;
    font-weight: 500;
}
.breadcrump span {
    display:inline-block;
    margin:0 10px;
}
.breadcrump a:last-child {
    color:var(--light-extra) !important;
    cursor:auto;
}
a:hover{
    color:var(--main-color) !important;
}